@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Вы входите в группу пользователей, кому недоступен этот раздел!</h1>
@Html.ActionLink("Вернуться на главную","Index","Home")
